* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes myAnimation {
    0% {
        box-shadow: 0 0 10px transparent;
        /* transform: translateX(0); */
    }

    100% {
        /* transform: translateX(100px); */
        box-shadow: 0 0 20px red;
    
    }
}

body {
    background-color: #000;
}

.square {
    animation-name: myAnimation;
    animation-duration: 1ms;
    animation-iteration-count: infinite;
    width: 100px;
    height: 100px;
    background-color: #000;
    margin: auto auto;
    margin-top: 50vh;
}